.chat-container {
    display: flex;
    flex-direction: column;
    background:var(--chat-background-color);
    box-shadow: 0px 0px 7px -1px rgba(0,0,0,0.35);
    height: 70rem;
    width: 55rem;
    align-self: center;
    border-radius: 14px;
    font-size: 1.5rem;
}