.chat-header {
    background-color: var(--primary-color);
    display: flex;
    height: 8rem;
    border-radius: 14px 14px 0 0;
    align-items: center;
    padding: 0 3rem;
    box-sizing: border-box;
    flex-shrink: 0;
}

.chat-header .bot-img {
    width: 5rem;
    height: 5rem;
    border: 3px solid var(--text-light-color);
    border-radius: 50%;
    margin-right: 1rem;
}

.bot-details .bot-name {
    font-size: 2rem;
    color: var(--text-light-color);
    font-weight: 600;
    margin-bottom: 0.3rem;
}

.bot-details .online-indication {
    width: 1rem;
    height: 1rem;
    background: #21d221;
    display: inline-block;
    border-radius: 50%;
    margin-right: 0.5rem;
    border: 1px solid var(--text-light-color);
    box-sizing: border-box;
}

.bot-details .online-text {
    font-size: 1.5rem;
    color: var(--text-light-color);
    font-weight: 600;
    opacity: 0.7;
}