.chat-content {
    height: 100%;
    overflow-y: auto;
    padding: 2rem;
}

.message-container {
    display: flex;
    justify-content: flex-start;
    margin-bottom: 1rem;
    transition-timing-function: cubic-bezier(0.4, -0.04, 1, 1);
    animation-duration: 0.5s;
    animation-name: slideFromLeft;
}


.message-container.user-side {
    flex-direction: row-reverse;
    animation-name: slideFromRight;
}

.message-container.bot-side + .message-container.user-side,
.message-container.user-side + .message-container.bot-side {
    margin-top: 2rem;
}

@keyframes slideFromLeft {
    0% {
      margin-left: -200px;
      opacity: 0;
    }
    100% {
      margin-left: 0;
      opacity: 1;
    }
  }

  @keyframes slideFromRight {
    0% {
      margin-right: -200px;
      opacity: 0;
    }
    100% {
      margin-right: 0;
      opacity: 1;
    }
  }

.message-container .message-content {
    border-radius: 33px;
    padding: 2rem;
    background: #f6f6f6;
    width: fit-content;
    font-size: 2rem;
    position: relative;

}

 .message-container .message-img {
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
    margin-right: 0.5rem;
    align-self: flex-end;
    margin-bottom: 1px;
}

.message-container .message-img.hidden {
visibility: hidden;
}
.message-container.user-side .message-content {
    background: var(--primary-color);
    color: var(--text-light-color);
}

.message-container.user-side .message-img {
    margin-left: 0.5rem;
    margin-right: 0;
}


