.App {
  font-family: "Source Sans Pro";
  background: linear-gradient(135deg, var(--secondary-color) 41%, var(--primary-color) 100%);
  width: 100%;
  height: 100%;
  display: flex;
    flex-direction: column;
    justify-content: center;
}